* {
  box-sizing: border-box;
  user-select: none;
}

html {
  background-color: hsl(210, 1%, 10%);
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.active-wrapper {
  position: relative;
  opacity: 1;
  outline: 2px solid hsl(210, 20%, 30%);
  transition: opacity 1200ms ease-in-out;
}

.active-wrapper.invisible {
  opacity: 0;
  transition: opacity 1200ms ease-in-out;
}

dialog::backdrop {
  background: hsla(0, 0%, 10%, 0.5);
}

div[data-type="gauge"] {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid hsl(210 10% 40%);
  outline-offset: -1px;
  background-color: hsl(210 10% 27%);
  height: 45px;
  width: 135px;
  font-size: 22px;
  color: hsl(210 50% 90%);
}
div[data-type="gauge"]:hover {
  background-color: hsl(210, 12%, 30%);
}

div[data-type="gauge"].selected-gauge {
  outline: 1px dashed hsl(160 80% 70%);
  background-color: hsl(210, 12%, 30%);
}
div[data-type="gauge"].selected-gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.new-gauge {
  outline: 1px dashed hsl(0 50% 50%);
  background-color: hsl(210, 12%, 30%);
}
.new-gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.gauge-resize-top {
  box-shadow: inset hsl(160, 100%, 30%) 0px 3px 0px 0px;
}

.gauge-resize-left {
  box-shadow: inset hsl(160, 100%, 30%) 3px 0px 0px 0px;
}

.gauge-resize-right {
  box-shadow: inset hsl(160, 100%, 30%) -3px 0px 0px 0px;
}

.gauge-resize-bottom {
  box-shadow: inset hsl(160, 100%, 30%) 0px -3px 0px 0px;
}

.gauge-renaming-input {
  border: none;
  border: 1px dashed hsl(0, 0%, 70%);
  margin: 4px;
  background-color: transparent;
  width: 100%;
  padding: 4px;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}
.gauge-renaming-input:focus {
  outline: none;
}
.gauge-renaming-input::selection {
  background-color: hsl(160, 25%, 45%);
  color: hsl(0, 10%, 10%);
}

.context-menu {
  z-index: 2;
  position: absolute;
  border: 1px solid hsl(210 20% 50%);
  color: hsl(0, 10%, 10%);
}

.context-menu-item {
  border-bottom: 1px solid #555;
  background-color: hsl(210 20% 70%);
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
}
.context-menu-item:hover {
  background-color: hsl(210 20% 80%);
}
.context-menu-item:last-child {
  border-bottom: none;
}

.palette {
  outline: none;
  border: 1px solid hsl(160 50% 40% / 50%);
  background: hsl(0 0% 100% / 10%);
  padding: 10px;
}

.palette .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.color-sample {
  border: 1px solid hsl(0 0% 100% / 30%);
  height: 30px;
  width: 30px;
}

.color-sample:hover {
  filter: brightness(110%);
}

.color-sample[data-color="magenta"] {
  background-color: hsl(300, 50%, 30%);
}
.color-sample[data-color="green"] {
  background-color: hsl(160, 50%, 30%);
}
.color-sample[data-color="orange"] {
  background-color: hsl(40, 50%, 30%);
}

.temp-buttons-block {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-load-configuration {
  display: none;
}

.pseudo-button-load-configuration,
.button-save-configuration {
  border: none;
  background: hsl(210, 20%, 50%);
  padding: 4px 8px;
  font-family: monospace;
  font-size: 20px;
  color: #222;
  cursor: pointer;
  box-shadow: 2px 2px 2px #111;
}

.pseudo-button-load-configuration:hover,
.button-save-configuration:hover {
  filter: brightness(110%);
}

.phantom-block {
  z-index: 2;
  position: absolute;
  outline: 1px dashed hsl(160, 25%, 45%);
  outline-offset: -1px;
  background-color: hsl(160 20% 30% / 50%);
}
