* {
  box-sizing: border-box;
  user-select: none;
}

html {
  margin: 0;
  background-color: hsl(210, 5%, 20%);
  height: 100%;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(210, 5%, 20%);
  height: 100%;
  width: 100%;
  padding: 0;
}

dialog::backdrop {
  background: hsla(0, 0%, 10%, 0.5);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.gauge {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(210 10% 40%);
  background-color: hsl(210 10% 27%);
  height: 45px;
  width: 135px;
  font-size: 22px;
  color: hsl(210 50% 90%);
}
.gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.new-gauge {
  outline: 1px dashed hsl(0 50% 50%);
  background-color: hsl(210, 12%, 30%);
}
.new-gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.selected-gauge {
  outline: 1px dashed hsl(160 100% 80%);
  background-color: hsl(210, 12%, 30%);
}
.selected-gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.guage-resize-left {
  box-shadow: inset darkgreen 2px 0px 0px 0px;
  cursor: col-resize;
}

.guage-resize-top {
  box-shadow: inset darkgreen 0px 2px 0px 0px;
  cursor: row-resize;
}

.guage-resize-right {
  box-shadow: inset darkgreen -2px 0px 0px 0px;
  cursor: col-resize;
}

.guage-resize-bottom {
  box-shadow: inset darkgreen 0px -2px 0px 0px;
  cursor: row-resize;
}

.gauge-renaming-input {
  border: none;
  border: 1px dashed hsl(0, 0%, 70%);
  margin: 4px;
  background-color: transparent;
  width: 100%;
  padding: 4px;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}
.gauge-renaming-input:focus {
  outline: none;
}
.gauge-renaming-input::selection {
  background-color: hsl(160, 25%, 45%);
  color: hsl(0, 10%, 10%);
}

.context-menu {
  z-index: 2;
  position: absolute;
  border: 1px solid hsl(210 20% 50%);
  color: hsl(0, 10%, 10%);
}

.context-menu-item {
  border-bottom: 1px solid #555;
  background-color: hsl(210 20% 70%);
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
}
.context-menu-item:hover {
  background-color: hsl(210 20% 80%);
}
.context-menu-item:last-child {
  border-bottom: none;
}

.palette {
  outline: none;
  border: 1px solid hsl(160 50% 40% / 50%);
  background: hsl(0 0% 100% / 10%);

  padding: 10px;
}

.palette .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.color-sample {
  height: 30px;
  width: 30px;
  border: 1px solid hsl(0 0% 100% / 30%);
}

.color-sample:hover {
  filter: brightness(110%);
}

.color-sample[data-color="magenta"] {
  background-color: hsl(300, 50%, 30%);
}
.color-sample[data-color="green"] {
  background-color: hsl(160, 50%, 30%);
}
.color-sample[data-color="orange"] {
  background-color: hsl(40, 50%, 30%);
}

.temp-buttons-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 1;
}

.input-load-configuration {
  display: none;
}

.pseudo-label-load-configuration,
.button-save-configuration {
  border: none;
  background: hsl(210, 20%, 50%);
  padding: 4px 8px;
  font-family: monospace;
  font-size: 20px;
  color: #222;
  cursor: pointer;
  box-shadow: 3px 3px 2px #111;
}

.pseudo-label-load-configuration:hover,
.button-save-configuration:hover {
  filter: brightness(110%);
}

.phantom-block {
  background-color: #4411;
  outline: 1px dashed red;
  position: absolute;
  z-index: 2;
}
