* {
  box-sizing: border-box;
  user-select: none;
}

html {
  background-color: hsl(210, 1%, 10%);
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

dialog::backdrop {
  background: hsla(0, 0%, 10%, 0.5);
}

.title {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 8px;
  margin: 0;
  padding: 2px;
  font-size: 26px;
  color: inherit;
  color: hsl(210, 20%, 40%);
}

.user-wrapper {
  position: relative;
  outline: 2px solid hsl(210, 15%, 20%);
  transition: opacity 800ms ease-in;
}

.user-wrapper.invisible {
  opacity: 0;
  transition: opacity 800ms ease-in;
}

/* ------------ */
/* gauges style */

div[data-type="gauge"] {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid hsl(210 10% 40%);
  outline-offset: -1px;
  background-color: hsl(210 10% 27%);
  height: 45px;
  width: 135px;
  font-size: 22px;
  color: hsl(210 50% 90%);
}
div[data-type="gauge"]:hover {
  background-color: hsl(210, 12%, 30%);
}

div[data-type="gauge"].selected-gauge {
  outline: 1px dashed hsl(160 80% 70%);
  background-color: hsl(210, 12%, 30%);
}
div[data-type="gauge"].selected-gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.new-gauge {
  outline: 1px dashed hsl(0 50% 50%);
  background-color: hsl(210, 12%, 30%);
}
.new-gauge:hover {
  background-color: hsl(210, 12%, 30%);
}

.gauge-resize-top {
  box-shadow: inset hsl(160, 100%, 30%) 0px 3px 0px 0px;
}

.gauge-resize-left {
  box-shadow: inset hsl(160, 100%, 30%) 3px 0px 0px 0px;
}

.gauge-resize-right {
  box-shadow: inset hsl(160, 100%, 30%) -3px 0px 0px 0px;
}

.gauge-resize-bottom {
  box-shadow: inset hsl(160, 100%, 30%) 0px -3px 0px 0px;
}

.gauge-renaming-input {
  border: none;
  border: 1px dashed hsl(0, 0%, 70%);
  margin: 4px;
  background-color: transparent;
  width: 100%;
  padding: 4px;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}
.gauge-renaming-input:focus {
  outline: none;
}
.gauge-renaming-input::selection {
  background-color: hsl(160, 25%, 45%);
  color: hsl(0, 10%, 10%);
}

.context-menu {
  z-index: 2;
  position: absolute;
  border: 1px solid hsl(210 20% 50%);
  color: hsl(0, 10%, 10%);
}

.context-menu-item {
  border-bottom: 1px solid #555;
  background-color: hsl(210 20% 70%);
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
}
.context-menu-item:hover {
  background-color: hsl(210 20% 80%);
}
.context-menu-item:last-child {
  border-bottom: none;
}

.palette-dialog {
  outline: none;
  border: 1px solid hsl(160 50% 40% / 50%);
  background: hsl(0 0% 100% / 10%);
  padding: 10px;
}

.palette-dialog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.color-sample {
  border: 1px solid hsl(0 0% 100% / 30%);
  height: 30px;
  width: 30px;
}
.color-sample:hover {
  filter: brightness(110%);
}
.color-sample[data-color="magenta"] {
  background-color: hsl(300, 50%, 30%);
}
.color-sample[data-color="green"] {
  background-color: hsl(160, 50%, 30%);
}
.color-sample[data-color="orange"] {
  background-color: hsl(40, 50%, 30%);
}

.configuration-menu-dialog {
  outline: none;
  border: 1px solid hsl(210 10% 40%);
  background: hsl(0 0% 100% / 10%);
  background-color: hsl(210 10% 27%);
  max-width: 600px;
  min-width: 400px;
  padding: 12px;
  color: hsl(210 50% 90%);
}

.configuration-menu-dialog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 4px;
}

input {
  outline: none;
  border: none;
  background-color: hsl(210 10% 30%);
  padding: 6px 8px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-shadow: inset 1px 1px 1px #333;
}

input:hover {
  background-color: hsl(210 10% 34%);
}

input:focus {
  outline: 1px dashed hsl(160 40% 40%);
}

input::selection {
  background-color: hsl(160 40% 40%);
}

input[name="conf-cancel-button"] {
  background-color: hsl(0 22% 28%);
}

input[name="conf-save-button"] {
  background-color: hsl(160 22% 28%);
}

input[name="conf-cancel-button"]:hover {
  background-color: hsl(0 22% 32%);
}

input[name="conf-save-button"]:hover {
  background-color: hsl(160 22% 32%);
}

.configuration-menu-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  gap: 12px;
}

.buttons-block {
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(160, 0%, 12%);
  width: 100%;
  padding: 4px;
  gap: 16px;
}

.input-load-configuration {
  display: none;
}

.buttons-block input,
.buttons-block label {
  outline: none;
  border: none;
  background: hsl(210, 20%, 40%);
  padding: 4px 12px;
  font-size: 18px;
  font-weight: 700;
  color: #222324;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none;
}

.buttons-block input:hover,
.buttons-block label:hover {
  filter: brightness(110%);
}

.phantom-block {
  z-index: 2;
  position: absolute;
  outline: 1px dashed hsl(160, 25%, 45%);
  outline-offset: -1px;
  background-color: hsl(160 20% 30% / 50%);
}
